/Library/
/Temp/
/Obj/
/Logs/
/UserSettings/
/Build/
/Builds/
/MemoryCaptures/
/Recordings/
/recordings/
/DigiPhantStarter/
/SavannahStarter/
/Assets/Elephant/
/Assets/Elephant.meta
**/.venv/
**/__pycache__/
.DS_Store
*.csproj
*.sln
*.slnx
/.vscode/
